@model Fiap.Exemplo01.MVC.Models.Paciente

@{
    ViewBag.Title = "Gravar";
}

<h2>Gravar</h2>
<p>@TempData["msg"]</p>

<h2>@Model.Convenio @Model.Data @Model.Nome @Model.Tipo</h2>

<h3>Nome: @ViewBag.nomeDoGaroto</h3>
<h3>Data Nascimento: @ViewBag.dataAniversario</h3>

