@model Fiap.Revisao.Models.Setor
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastro de Setor</h2>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">@TempData["msg"]</div>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(s => s.Nome)
        @Html.TextBoxFor(s => s.Nome, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.Preco)
        @Html.TextBoxFor(s => s.Preco, new { @class = "form-control" })
    </div>
    <input type="submit" value="Cadastrar" class="btn btn-primary" />
}

